html,body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    font-size: 0.8em;
    font-family: Roboto, arial, sans-serif;
    text-align: center;
}

a{
    color: #1a0dab;
    text-decoration: none;
}

a visited{
    color: #1a0dab;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

li {
    display: inline-block;
}

button {
    border: none;
    border-radius: 5%;
    line-height: 25px;
}

.button-grey{
    background-color: rgb(243, 243, 243);
    border: none;
    margin: 5px;
    color: rgb(99, 99, 99);
    padding: 8px 13px 8px 13px;
}

.button-blue{
    background-color: #4285f4;   
    color: white;
    font-weight: bold;
    padding: 2px 14px 2px 14px;
    margin-top: 2vh;
}

header {
    min-width: 100%;
    text-align: right;
    display: flex;
    justify-content:center;
    align-items:center;
}

nav{
    height: 8.5%;
    width: 100%;
    position: fixed;
    top: 0;
    margin-right: 3vh;
    margin-top: .5vh;
}

#burger {
    height: 30px;
    width: 30px;
    margin-right: 1.5vh;
}

nav a {
    height: 10%;
    float: right;
    display: block;
    text-align: center;
    color: #111111;
    padding: 1vh;
    margin-right: 30%;
    margin-top: -15%;
    top: 0;
}

nav li {
    vertical-align: middle;
}

#sign-in{
    width: 20%;
    margin: 0% -5% 0% -8%;
}

main {
    text-align: center;
    padding: 10%;
    min-height: 60vh;
    max-height: 60vh;
    /*margin-top: 10.5%;*/
}

#logo{
    width: 270px;
    margin-top: 12.5vh;
}

input {
    width: 80%;
    height: 40px;
    border-radius: 25px; 
    border: solid 1px rgb(214, 214, 214);  
}

input#search-bar {
    background-image: url('images/search.png');
    background-size:contain;
    background-repeat: no-repeat;
    text-indent: 20px;
    position: relative;
}

#search {
    height: 30px;
    width: 35px;
    margin-top: 1vh;
    margin-left: -60%;
    position: absolute;
    float: left;
    z-index: 3;
}

#microphone {
    height: 35px;
    width: 30px;
    margin-left: -5%;
    margin-top: 0.5vh;
    position: absolute;
    z-index: 3;
}

form{
    margin: 3%;
}

#search-buttons{
    margin: 3.5%;
}

.translate {
    line-height: 28px;
    font-size: small;
    margin-top: -1vh;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*border: 0.1px solid  rgb(229, 230, 228);*/
    height: 10%;
    font-size: 0.9em;
}

.footer-section {
    /*background-color: rgb(245, 247, 244);*/
    background-color: rgb(243, 243, 243);
    color: rgb(99, 99, 99);
    height: 50%;
    margin-bottom: 0;
    border: 0.1px solid rgb(229, 230, 228);
    vertical-align: center;
}

footer a {
    color: rgb(99, 99, 99);
    padding: 10px;
    font-size: 1.21em;
}

.left-links {
    float: left;
    margin-left: -3vh;
}

.right-links {
    float: right;
    margin-right: 3vh;
}
